name: Daily Job Search Email

on:
  schedule:
    # 11:00 PM IST = 17:30 UTC
    - cron: "30 17 * * *"
  workflow_dispatch: {}

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install feedparser beautifulsoup4

      - name: Run job script
        env:
          OUTLOOK_EMAIL: ${{ secrets.OUTLOOK_EMAIL }}
          OUTLOOK_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}
          DEST_EMAIL: ${{ secrets.TO_MAIL }}
        run: python job_finder.py
